.App {
  display: flex;
}

.App .content {
  flex-grow: 99;
}
.App .menu {
  /* position: relative; */
  height: 100vh;
  position: sticky;
  top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a.active {
  background-color: #1D7C81;
}

a.active:hover {
  background-color: #1D7C81;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 1. Define the flash animation */
@keyframes flash-red {
    0%, 50% {
        background-color: red;
    }
    /* 2. Instantly switch to TRANSPARENT from 50.01% to 100% */
    50.01%, 100% {
        background-color: transparent;
    }
}

/* 2. Apply it only when .over-credits exists */
.content:has(.over-credits) {
    /* animation: name duration timing-function iteration-count */
    animation: flash-red 0.7s 5;
}
